sudo: false
language: minimal

services: 
  -docker

before_install:
 - docker pull nginx
 - docker run -d "IntegracionContinua /usr/share/nginx/html"
 - docker build -t comics:1.0 .
 - docker run -p 80:80 --name comicsrun comics:1.0



  
